<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back To Dashboard</a>
    <h2 class="title"> Create a New Blog Post! </h2><hr>

    <form>
        <div>
            <label>Title:</label>
            <input type="text" class="input" placeholder="insert blog title"/>    
        </div>
        <div>
            <label for="post-content">Content:</label>
            <input type="text" class="textarea is-large" id="post-content" name="post-content" placeholder="insert blog content">
        </div>
        <button type="submit">Create Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>