<div class="mb-5 pt-3">
    <a href="/dashboard/create/"> <button id="create-post" class="button">Create Post</button></a>

    <h2 class="title">Dashboard: Your Posts</h2><hr>
    {{#if posts.length}}
</div>

{{#each posts as |post|}}
{{> post-info post}}

<a href="/dashboard/edit/{{post.id}}"><button class="button">Edit Post</button></a>
</div>
{{/each}}

{{else}}

<h5>You do not currently have any posts</h5>

{{/if}}