<!-- display posts -->
{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="ml-5"></textarea>
    </div>

    <div>
        <button class="button" type="submit">add comment</button>
    </div>

</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}